extends layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/product.css")

block content

    main
        if prods.length > 0
            .grid
                each product in prods
                    article.card.product-item
                        header.card__header
                            h1.product__title #{product.title}
                        .card__image
                            img(src="https://www.drawingnow.com/file/videos/steps/119657/how-to-draw-an-open-book-step-7.jpg", alt="")
                        .card__content
                            h2.product__price $19.99
                            p.product__description An interesting book about so many even more...
                        .card__actions
                            button.btn Add to cart
        else
            h1 No Products
