<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
    <% if (orders.length > 0) { %>
        <ul>
            <% orders.forEach(order => { %>
            <li>
                <h1># <%= order.id %></h1>
                <ul>
                    <% order.products.forEach(product => { %>
                    <li>
                        <%= product.title %> (<%= product.orderItem.quantity %>)
                    </li>
                    <% }); %>
                </ul>
            </li>
            <% }); %>
        </ul>
    <% } else { %>
        <h1>Nothing there!</h1>
    <% } %>
    </main>
</body>
<%- include('../includes/end.ejs') %>